.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* provided inline to override mui styles */
.todoTextField {
  width: "70vw";
  max-width: "500px";
  margin: "16px 8px 8px";
}

.addTodoBtn {
  margin: "24px 4px 0";
}

.todoList {
  width: "90vw";
  max-width: "600px";
  margin: "8px";
}

/* .todoList{ */
/* display: flex; */
/* flex-direction: column; */
/* justify-content: center; */
/* align-items: center ; */
/* } */
